.serviceContainer {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  padding: 60px 0px;
}
.serviceHeader {
  text-align: center;
}
.serviceHeading {
  margin-top: 10px;
  font-size: 36px;
}
.servicePara {
  text-transform: uppercase;
  font-weight: 100;
}

.serviceHeading,
.servicePara {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 5px;
}

.serviceItemsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: start;
  margin: 30px 0px;
}
.serviceItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 30%;
  margin: 10px;
  gap: 10px;
  color: white;
}
.serviceItemText {
  margin: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  z-index: 1;
  padding: 10px;
}

.serviceItemHeading {
  font-size: 18px;
  letter-spacing: 0px;
  padding: 5px 0px;
}

.serviceItemPara {
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  padding: 5px 0px;
}

.serviceItemHeading,
.serviceItemPara {
  margin: 15px 0px;
}
.serviceItemsContainer .serviceItemContainer:nth-child(1),
.serviceItemsContainer .serviceItemContainer:nth-child(1) .serviceItemText {
  background-color: #c29336;
}

.serviceItemsContainer .serviceItemContainer:nth-child(2),
.serviceItemsContainer .serviceItemContainer:nth-child(2) .serviceItemText {
  background-color: #636e87;
}

.serviceItemsContainer .serviceItemContainer:nth-child(3),
.serviceItemsContainer .serviceItemContainer:nth-child(3).serviceItemText {
  background-color: #44706e;
}

.serviceItemsContainer .serviceItemContainer:nth-child(4),
.serviceItemsContainer .serviceItemContainer:nth-child(4).serviceItemText {
  background-color: #b76f71;
}

.serviceItemsContainer .serviceItemContainer:nth-child(5),
.serviceItemsContainer .serviceItemContainer:nth-child(5).serviceItemText {
  background-color: #5e965b;
}

.serviceItemsContainer div:nth-child(6),
.serviceItemsContainer div:nth-child(6).serviceItemText {
  background-color: #9c8965;
}
